﻿@page
@model RazorPizzeria.Pages.Checkout.CheckoutModel
@{
}

<h1>Your Order</h1>
@{
    var imagePath = "~/images/Pizzas/" + (@Model.ImageTitle + ".png");
}
<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        <img src=@imagePath class="w-100" asp-append-version="true"></img>
        <p>Your order for the @Model.PizzaName Pizza is ready!</p>
        <p>Total price for your order is: @Model.PizzaPrice$</p>
        <br/>
        <a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="ThankYou">Confirm Order</a>
    </div>
</div>