﻿@page
@model RazorPizzeria.Pages.Forms.CustomPizzaModel
@{
}

<div class="text-center container">
    <h1>Create Your Own Pizza!</h1>
    <form method="post" class="mx-auto mt-5 mb-5 px-5 pt-5 pb-5 rounded-5 bg-light col-4">
        <input type="text" asp-for="Pizza.PizzaName" placeholder="Give your pizza a name.."></input>
        <br/>
        <input type="checkbox" asp-for="Pizza.TomatoSause" placeholder="Tomato Sause">Tomato Sause</input>
        <br/>
        <input type="checkbox" asp-for="Pizza.Cheese" placeholder="Cheese">Cheese</input>
        <br/>
        <input type="checkbox" asp-for="Pizza.Peperoni" placeholder="Peperoni">Peperoni</input>
        <br/>
        <input type="checkbox" asp-for="Pizza.Mushroom" placeholder="Mushroom">Mushroom</input>
        <br/>
        <input type="checkbox" asp-for="Pizza.Tuna" placeholder="Tuna">Tuna</input>
        <br/>
        <input type="checkbox" asp-for="Pizza.Pineapple" placeholder="Pineapple">Pineapple</input>
        <br/>
        <input type="checkbox" asp-for="Pizza.Ham" placeholder="Ham">Ham</input>
        <br/>
        <input type="checkbox" asp-for="Pizza.Beef" placeholder="Beef">Beef</input>
        <br/>
        <button class="btn btn-primary mt-1" type="submit">Order My Pizza</button>
    </form>
</div>