﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Razor Sharp Pizzas</h1>
        <h2 class="mainSubTitle">Razor Sharp Pizzas, is the pizza for you and me!</h2>
    </div>
    <img class="mainImage" src="~/images/PizzaTime.jpg"></img>
    <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-page="/Pizza">Bring me that pizza!</a>
</div>
